.filter {
  display: flex;
  flex-direction: column;
  margin-block-end: 3rem;

  &__actions {
    display: flex;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .filter {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-block-end: 1.5rem;
  }
}
